<div class="text-center">
  <h1 class="text-3xl pb-10">Modificar Chef</h1>
</div>
<div class="shadow-2xl" style="width: 50%; margin: auto">
  <form [formGroup]="form" (ngSubmit)="OnSubmit(form.value)">
    <div class="mb-6" style="width: 50%; margin: auto">
      <label
        for="nombre"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nombre</label
      >
      <input
        type="text"
        formControlName="nombre"
        id="nombre"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Quesadillas"
        required
      />
      <p
        *ngIf="form.get('nombre')?.invalid"
        class="text-red-500 text-xs italic"
      >
        El nombre es obligatorio
      </p>
    </div>
    <div class="mb-6" style="width: 50%; margin: auto">
      <label
        for="duracion"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Duracion</label
      >
      <input
        type="text"
        for="duracion"
        formControlName="duracion"
        id="edad"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="00:10:00"
        required
      />
      <p
        *ngIf="form.get('duracion')?.invalid"
        class="text-red-500 text-xs italic"
      >
        La duracion es obligatoria
      </p>
    </div>
    <div class="mb-6" style="width: 50%; margin: auto">
      <label
        for="preparacion"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Preparacion</label
      >
      <input
        type="text"
        for="preparacion"
        formControlName="preparacion"
        id="edad"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Cocinar durante 10 minutos...."
        required
      />
      <p
        *ngIf="form.get('preparacion')?.invalid"
        class="text-red-500 text-xs italic"
      >
        La preparacion es obligatoria
      </p>
    </div>
    <div class="mb-6" style="width: 50%; margin: auto">
      <label
        for="chef"
        d
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Selecciona el chef</label
      >
      <select
        id="chef"
        formControlName="chef"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option *ngFor="let c of chef" value="{{ c.id }}">
          {{ c.nombre }}
        </option>
      </select>

      <p *ngIf="form.get('chef')?.invalid" class="text-red-500 text-xs italic">
        EL chef es obligatorio
      </p>
    </div>

    <div
      class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
    >
      <button
        *ngIf="!form.invalid"
        type="submit"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        data-modal-hide="agregrChef"
        [disabled]="form.invalid"
        (click)="goBack()"
      >
        Agregar Ingrediente
      </button>
      <button
        *ngIf="form.invalid"
        type="submit"
        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        data-modal-hide="agregrChef"
        [disabled]="form.invalid"
      >
        Completa los campos
      </button>
      <button
        type="button"
        class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        <a
          routerLink="/recetas"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Regresar</a
        >
      </button>
    </div>
  </form>
</div>
