<app-header></app-header>
<!-- component -->
<div
  class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
>
  <div class="relative py-3 sm:w-96 mx-auto text-center">
    <span class="text-2xl font-light">Modificar Mapa</span>
    <div class="mt-4 bg-white shadow-md rounded-lg text-left">
      <div class="h-2 bg-purple-400 rounded-t-md"></div>
      <div class="px-8 py-6">
        <form [formGroup]="form" (ngSubmit)="OnSubmit(form.value)">
          <h1 class="text-3xl text-center">Modificar Mapa</h1>
          <div id="input" class="flex flex-col w-full my-5">
            <label
              for="nombre"
              class="block mb text-sm font-medium text-gray-900 dark:text-white"
              >Nombre</label
            >
            <input
              type="text"
              formControlName="nombre"
              id="nombre"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Desierto"
              required
            />
            <p
              *ngIf="form.get('nombre')!.invalid && form.get('nombre')!.touched"
              class="text-red-500 text-xs italic"
            >
              El nombre es obligatorio
            </p>
          </div>

          <div id="input" class="flex flex-col w-full my-5">
            <label
              for="app_paterno"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Breve descripcion</label
            >
            <input
              type="text"
              formControlName="descripcion"
              id="descripcion"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Aplio, soleado"
              required
            />
            <p
              *ngIf="
                form.get('descripcion')!.invalid &&
                form.get('descripcion')!.touched!
              "
              class="text-red-500 text-xs italic"
            >
              La descripcion es obligatoria
            </p>
          </div>

          <div id="input" class="flex flex-col w-full my-5">
            <label
              for="totalZonas"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Total de zonas</label
            >
            <input
              type="number"
              for="totalZonas"
              formControlName="totalZonas"
              id="totalZonas"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="4"
              required
            />
            <p
              *ngIf="
                form.get('totalZonas')!.invalid &&
                form.get('totalZonas')!.touched
              "
              class="text-red-500 text-xs italic"
            >
              El total de las zonas en el mapa es obligatorio
            </p>
          </div>
          <div id="button" class="flex flex-col w-full my-5">
            <button
              routerLink="/mapas"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              *ngIf="!form.invalid"
              type="submit"
              class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
              data-modal-hide="agregrMapa"
              [disabled]="form.invalid"
            >
              Agregar Mapa
            </button>
            <button
              *ngIf="form.invalid"
              type="submit"
              class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
              data-modal-hide="agregrMapa"
              [disabled]="form.invalid"
            >
              Completa los campos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
