
<!-- component -->
<div class="flex min-h-screen w-full items-center justify-center bg-[#131730] px-4">
  <div class="flex w-[500px] max-w-3xl flex-col rounded bg-[#1b2042] py-12 px-6 text-slate-200">
    <h2 class="mb-2 font-serif text-2xl">Aviso!</h2>
    <p class="mb-12">
      Recibiras un correo electronico con las instrucciones a seguir.
    </p>
    <div class="mb-2 flex gap-2">
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-blue-600"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-blue-500"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-blue-400"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-blue-300"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-blue-200"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-green-200"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-gray-900"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-gray-900"></span>
      <span class="mb-2 h-[15px] flex-1 rounded-xl bg-gray-900"></span>
    </div>
    <small>Espera un momento</small>
  </div>
</div>
